<div class="jumbotron">
  <h2 class="centeralign"> Edit Your Bar </h2>

  <%= form_for @bar, html: {multipart: true} do |f|  %>
    <div class="form-group">
      <%= f.label :bar_name %>
      <%= f.text_field :bar_name, class: "form-control" %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control" %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :zip %>
      <%= f.text_field :zip, class: "form-control" %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :day %>
      <%= f.text_field :day, class: "form-control" %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :time %>
      <%= f.text_field :time, class: "form-control" %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
      <br>


      <%= f.submit "Update Bar", class: "btn btn-lg btn-default navbar-left" %>

    <%= link_to "Delete Bar", delete_bar_path(@bar), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-lg btn-danger navbar-right" %>
    <br>
    <br>
  <% end %>
</div>
