<div class="jumbotron">
  <h2 class="centeralign">Account Settings</h2>
  <br>
  <%= form_for @user do |f|  %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control", disabled:true %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <br>
      <div class="centeralign">
      <%= f.submit "Update", class: "btn btn-lg btn-default" %>
      </div>
      <br>
  <% end %>
</div>
