<div class="jumbotron">
  <h2 class="centeralign">Account Settings</h2>
  <br>
  <%= form_for @user do |f|  %>

      <% if @user.errors.any? %>
        <div>
          <h4 class="text-danger"> <%= pluralize(@user.errors.count, "error") %> prevented you from signing up!</h4>
          <ul class="list-group">
            <% @user.errors.full_messages.each do |msg| %>
              <li class="list-group-item list-group-item-danger">
                <%= msg.downcase %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <form class="form-inline">
        <div class="input-group">
          <div class="input-group-addon">Name</div>
          <%= f.text_field :name, class: "form-control", placeholder: "Type Your Name Here" %>
        </div>
        <br>
        <br>
        <div class="input-group">
          <div class="input-group-addon">Email</div>
          <%= f.email_field :email, class: "form-control", placeholder: "Type Email Id Here" %>
        </div>
        <br>
        <br>
        <div class="input-group">
          <div class="input-group-addon">Password</div>
          <%= f.password_field :password, class: "form-control", placeholder: "Type Password Here" %>
        </div>
        <br>
        <br>
        <div class="input-group">
          <div class="input-group-addon">Confirm Password</div>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Retype Password Here" %>
        </div>
        <br>
        <br>
      <div class="centeralign">
      <%= f.submit "Update", class: "spacer btn btn-lg btn-default" %>
      </div>

      <br>
  <% end %>
</div>
