<div class="jumbotron">
  <h2>Sign Up Now</h2>
  <br>
  <%= form_for @user do |f|  %>
    
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <br>
      <%= f.submit "Sign up!", class: "btn btn-lg btn-default" %>
      <br>
  <% end %>
  
</div>