<div class='jumbotron centeralign'>
  <section>
    <h3>Hey <%= @user.name %>, Here are all of your Bars (<%= @user.bars.length %>)</h3>
  </section>
</div>
  <section>
    <h3>Bars</h3>

    <% @user.bars.each do |bar| %>
      <div class="barlistself">
        <p><strong>Bar Name : <%= bar.bar_name %></strong></p>
        <p><%= image_tag(bar.image.url) %></p>
        <p><strong>Bar Location : <%= bar.location %></strong></p>
        <p><strong>Zip Code : <%= bar.zip %></strong></p>
        <p><strong>Day of the week : <%= bar.day %></strong></p>
        <p><strong>Happy Hour Timings : <%= bar.time %></strong></p>
        <p><strong>Bar Description : <%= bar.description %></strong></p>
        <p><strong>Number of Offers : <%= bar.offers.length %></strong></p>
        <span class='edbutton'><%= link_to "Edit Bar", edit_bar_path(bar), class: "btn btn-primary" %></span>
        <span class='edbutton'><%= link_to "Add Offer", bar_offers_path(bar), class: "btn btn-warning" %></span>
        <h3>Offers</h3>
        <% bar.offers.each do |offer| %>
        <div class="offerlist">
          <p><%= image_tag offer.image.url(:thumb) %></p>
          <p><strong>Item : <%= offer.item %></strong></p>
          <p><strong>Price : $<%= offer.price %></strong></p>
          <p><strong>Description : <%= offer.description %></strong></p>
          <span class='edbutton'><%= link_to "Edit Offer", edit_offer_path(offer), class: "btn btn-md btn-success" %></span>
        </div>
        <% end %>
      </div>
    <% end %>
  </section>
