<div class="jumbotron">
  <h2 class="centeralign"> Edit Your Offer </h2>

  <%= form_for @offer, html: {multipart: true} do |f|  %>
    <div class="form-group">
      <%= f.label :item %>
      <%= f.text_field :item, class: "form-control" %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.number_field :price, class: "form-control" %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
      <br>
      <%= f.submit "Update Offer", class: "navbar-left btn btn-lg btn-default" %>

      <%= link_to "Delete Offer", delete_offer_path(@offer), method: :delete, data: {confirm: "Are you sure?"}, class: "navbar-right btn btn-lg btn-danger" %>
      <br>
      <br>
  <% end %>
</div>
