<div class="jumbotron">
  <h2 class='centeralign'> Add an offer to your Bar </h2>

  <%= form_for [@bar, @offer], html: {multipart: true} do |f|  %>
  <form class="form-inline">
    <div class="form-group">
      <%= f.label :item %>
      <%= f.text_field :item, class: "form-control" %>
    </div>
      <br>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <%= f.number_field :price, class: "form-control", placeholder: "Price" %>
          </div>
        </div>

      <br>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", size: "25x15" %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
      <br>

      <%= f.submit "Add This Offer!", class: "btn btn-lg btn-default" %>
    </form>
  <% end %>
</div>
