<nav class="navbar navbar-inverse" role="navigation">
  <!--RS========= Brand and toggle get grouped for better mobile display ============RS-->
  <div class="navbar-header custom-head">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href='/'><strong>Happy Hour</strong></a>
  </div>

  <!--RS========== Collect the nav links, forms, and other content for toggling ===========RS-->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to root_path do %>
            <span class="glyphicon glyphicon-home"> Home
          <% end %>
      </li>
      <li><%= link_to map_path, 'data-no-turbolink' => true do %>
            <span class="glyphicon glyphicon-map-marker"></span> Map
          <% end %>
      </li>
      <li><%= link_to about_path do %>
            <span class="glyphicon glyphicon-info-sign"></span> About
          <% end %>
      </li>
      <li><%= link_to contact_path do %>
            <span class="glyphicon glyphicon-earphone"></span> Contact Us
          <% end %>
      </li>
    </ul>
    <ul class="collapse navbar-collapse nav navbar-nav navbar-right navbar-ex1-collapse">
    <% if logged_in? %>
      <li><a href="/"><%= "Welcome : #{current_user.name}" %></a>
      <li><%= link_to user_path(current_user) do %>
            <span class="glyphicon glyphicon-edit"></span> <%= "Manage My Bars (#{current_user.bars.length})" %>
          <% end %>
      </li>
      <li><%= link_to new_bar_path do %>
            <span class="glyphicon glyphicon-plus"></span> Add Bar
          <% end %>
      </li>
      <li><%= link_to edit_user_path(current_user) do %>
            <span class="glyphicon glyphicon-cog"></span> Account Settings
          <% end %>
      </li>
      <li><%= link_to logout_path, method: :delete do %>
            <span class="glyphicon glyphicon-off"></span> Log Out
          <% end %>
      </li>
    <% else %>
      <li><%= link_to signup_path do %>
            <span class="glyphicon glyphicon-plus"></span> Create Account (Bar Owners)
          <% end %>
      </li>
      <li>
        <!-- <%= form_for :login, :url => login_path, :method => "post"   do |f| %>
            <div class="form-group spaceform">
            <%= f.email_field :email, class: "form-control", placeholder: "Email ID" %>
            </div>
            <div class="form-group spaceform">
              <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
            </div>
            <%= f.submit 'Log In', class: "spaceform btn btn-default" %>
          <% end %> -->
      </li>

      <li><%= link_to login_path do %>
            <span class="glyphicon glyphicon-log-in"></span> Log In
          <% end %>
      </li>
    <% end %>
    </ul>
 </div><!-- /.navbar-collapse -->
</nav>
